:root {
  --fuenteHeading: 'Lato', sans-serif;
  --fuenteParrafos: 'Raleway', sans-serif;


  --primario: #1ABC9C;
  --blanco: #F9F9F9;
  --texto: #333333;
  --secundario: #2C3E50;
  --acento: #FFC107;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1 rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
}

/** Globales **/

.contenedor {
  /** Es lo mimo que aplicar width: min  */
  /*   max-width: 120rem;
  width: 90%; */
  width: min(90%, 120rem);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

/** Utilidades */

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.centrar-texto {
  text-align: center;
}

/** Header  */

/* .webp .header {
  background-image: url(../img/code.webp);
}
.no-webp .header {
  background-image: url(../img/code.jpg);
} */
.header {
  background-image: url(../img/code.jpg);
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /** Cuando se especifica center center,se está indicando que el fondo debe estar centrado tanto horizontal como verticalmente.  */

}


.header__texto {
  text-align: center;
  color: var(--blanco);
  margin-top: 5rem;
}

@media (min-width: 768PX) {
  .header__texto {
    padding-top: 15rem;
  }
}

.barra {
  padding-top: 4rem;
}

@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}



.logo {
  color: var(--blanco);

}

.logo__nombre {
  font-weight: 400;
}

.logo__bold {
  font-weight: 700;
}

span {
  color: var(--acento);
}

@media (min-width: 768px) {
  .navegacion {
    display: flex;
    gap: 2rem;
  }
}

.navegacion__enlace {
  display: block;
  font-size: 2rem;
  color: var(--blanco);
  font-weight: 700;
}

/* CONTENIDO PRINCIPAL */
@media (min-width: 768px) {
  .contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}

.entrada__contenido,
.widget-curso {
  color: var(--texto);
}

.entrada {
  border-bottom: 5px double var(--texto);
  margin-bottom: 2rem;
}

/* ultima entrada sin borde */
.entrada:last-of-type {
  border: none;
  margin-bottom: 0;
}

.boton {
  display: block;
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  border: none;
}

@media (min-width: 768px) {
  .boton {
    display: inline-block;
  }
}

.boton:hover {
  cursor: pointer;
}

.boton--primario {
  background-color: var(--secundario);
}

.boton--secundario {
  background-color: var(--primario);
}

.cursos {
  list-style: none;
}

.widget-curso {
  border-bottom: 1px solid var(--secundario);
  margin-bottom: 2rem;
}

.widget-curso:last-of-type {
  border: none;
  margin-bottom: 0;
}

.widget-curso__label {
  font-family: var(--fuenteHeading);
  font-weight: 700;
}

.widget-curso__info {
  font-weight: 700;
}

.widget-curso__label,
.widget-curso__info {
  font-size: 2rem;
}

.footer {
  background-color: var(--secundario);
  padding-bottom: 3rem;
  margin-top: 4rem;
}

/* sobre nosotros */

@media (min-width: 768px) {

  /** con flexbox */
  /* .sobre-nosotros{
      display: flex;
      gap: 2rem;
    }
    .sobre-nosotros__imagen,
    .sobre-nosotros__texto{
      flex-basis: 50%;
    } */

  /** forma antigua  */
  /* .sobre-nosotros{
      display: flex;
      justify-content: space-between;
    } 
    .sobre-nosotros__texto{
      flex: 0 0 calc(50% - 1rem);
    }
    .sobre-nosotros__imagen{
      flex: 0 0 calc(50% - 1rem);
    } */

  .sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

/* *cursos */
.curso {
  padding: 3rem 0;
  border-bottom: 1px solid var(--secundario);
}

@media (min-width: 768px) {
  .curso {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}

.curso:last-of-type {
  border: none;
}

.curso__label {
  font-family: var(--fuenteHeading);
  font-weight: 700;
}

.curso__info {
  font-weight: 700;
}

.curso__label,
.curso__info {
  font-size: 2rem;
}

/* *CONTACTO */
.contacto-bg {
  background-image: url(../img/fondo_contac.jpg);
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.formulario {
  background-color: #fff;
  margin: -5rem auto 0 auto;
  width: 95%;
  padding: 5rem;
}


.campo {
  display: flex;
  /*Establece que los elementos dentro del campo serán posicionados en un flex-container*/
  margin-bottom: 2rem;
  /*Establece el margen inferior entre campos*/
}

.campo__label {
  flex: 0 0 9rem;
  /*Establece que el ancho de la etiqueta del campo será de 9 unidades (en este caso, rem)*/
  text-align: right;
  /*Establece que el texto dentro de la etiqueta del campo se alineará a la derecha*/
  padding-right: 2rem;
  /*Agrega un relleno (padding) de 2 unidades (en este caso, rem) al lado derecho de la etiqueta del campo*/
}

.campo__field {
  flex: 1;
  /*Establece que el ancho del campo de entrada se expandirá para llenar el espacio restante del contenedor*/
  border: 1px solid var(--secundario);
  /*Establece un borde de 1 píxel con un color variable definido en otro lugar del código*/
}

.campo__field--textarea {
  height: 20rem;
  /*Establece la altura del campo de entrada de texto en 20 unidades (en este caso, rem)*/
}